parameters:
    level: 8
    bootstrapFiles:
        - ./src/vendor/autoload.php
        - ./src/extensions/config/config.sample.php
    paths:
        - ./src
    excludePaths:
        - .php-cs-fixer.dist.php
        - ./src/extensions/config
        - ./src/vendor
        - ./tests
        